USE [master]
GO
/****** Object:  Database [Scholarship_Program]    Script Date: 5/31/2019 10:03:38 PM ******/
CREATE DATABASE [Scholarship_Program]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Scholarship_Program', FILENAME = N'C:\Users\dholmes\Scholarship_Program.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Scholarship_Program_log', FILENAME = N'C:\Users\dholmes\Scholarship_Program_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scholarship_Program].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scholarship_Program]
GO
USE [Scholarship_Program]
GO
/****** Object:  Table [dbo].[ElectronicApplications]    Script Date: 5/31/2019 10:03:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectronicApplications](
	[ElectronicApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CellPhone] [varchar](50) NULL,
	[MailingStreetAddress] [varchar](50) NULL,
	[MailingCity] [varchar](50) NULL,
	[MailingState] [char](2) NULL,
	[MailingZipCode] [int] NULL,
	[BirthMonth] [int] NULL,
	[BirthDay] [int] NULL,
	[BirthYear] [int] NULL,
	[Sex] [varchar](50) NULL,
	[GPA] [varchar](50) NULL,
	[IsFirstToAttendCollege] [bit] NULL,
	[SchoolCurrentlyAttending] [varchar](100) NULL,
	[SchoolCityStateCurrentlyAttending] [varchar](100) NULL,
	[AcademicHonors] [varchar](500) NULL,
	[NonAcademicAwards] [varchar](500) NULL,
	[MembershipActivities] [varchar](500) NULL,
	[HobbiesOutsideInterests] [varchar](500) NULL,
	[ExtracurricularActivites] [varchar](500) NULL,
	[SchoolRelatedVolunteerActivites] [varchar](500) NULL,
	[CollegeToAttend] [varchar](500) NULL,
	[CollegeChoiceOne] [varchar](500) NULL,
	[CollegeChoiceTwo] [varchar](500) NULL,
	[CollegeChoiceThree] [varchar](500) NULL,
	[IsRelativeEmployeeOfHano] [bit] NULL,
	[ParentOrLegalGuardianFirstName] [varchar](100) NULL,
	[ParentOrLegalGuardianLastName] [varchar](100) NULL,
	[ParentOrLegalGuardianStreetAddress] [varchar](100) NULL,
	[ParentOrLegalGuardianCity] [varchar](100) NULL,
	[ParentOrLegalGuardianState] [char](2) NULL,
	[ParentOrLegalGuardianZipCode] [int] NULL,
	[ParentOrLegalGuardianHomePhone] [varchar](20) NULL,
	[ParentOrLegalGuardianWorkPhone] [varchar](20) NULL,
	[SignatureOfScholarshipApplicant] [varchar](100) NULL,
	[SignatureOfScholarshipApplicantDate] [datetime] NULL,
	[OfficalSubmissionDate] [datetime] NULL,
 CONSTRAINT [PK_ElectronicApplications] PRIMARY KEY CLUSTERED 
(
	[ElectronicApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadedApplications]    Script Date: 5/31/2019 10:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadedApplications](
	[UploadedApplicationID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CellPhone] [varchar](25) NULL,
	[SignatureOfScholarshipApplicantDate] [datetime] NULL,
	[OfficalDBSubmissionDate] [datetime] NULL,
	[fk_UploadedByUserID] [int] NULL,
 CONSTRAINT [PK_UploadedApplications] PRIMARY KEY CLUSTERED 
(
	[UploadedApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/31/2019 10:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
